@model Prueba_Finaktiva.Models.municipio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>municipio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
           Activo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.codigo }) |
    @Html.ActionLink("Lista", "Index")
</p>
